// 主色调
$first-main-color: #00E6BF;

// 二级色调
$second-main-color: #2CD8AA;

// 三级色调
$three-main-color: #00E6BF;

// 橘色调
$orange-main-color: #FF4019;

// 黄色调
$yellow-main-color: #FFC61A;

// 黑色主色调
$black-main-color: #333333;

// 黑色次色调
$black-second-color: #666666;

// 黑色三级色调
$black-three-color: #999999;